h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  text-align: center;
  color: #fdfbfb;
}

h1,
h2,
h3,
h4 {
  color: rgb(250, 250, 250);
}
h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 36px;
  text-align: center;
}
h3 {
  font-size: 30px;
  color: yellow;
}
h4 {
  font-size: 30px;
}

p {
  font-size: 22px;
}

li {
  font-size: 20px;
}
nav {
  text-align: center;
  font-size: 20px;
}
article header p {
  font-style: italic;
}

article h2 p {
  text-align: center;
}
article header img {
  text-align: center;
}
header article strong p {
  text-align: center;
}
header p {
  text-align: center;
}

li p em {
  font-size: 18px;
}

body {
  background-color: black;
}
input[type="number"] {
  width: 15%;
  padding: 12px 20px;
  margin: 1px 0;
  background-color: black;
  color: rgb(182, 13, 13);
  border: none;
  font-size: 40px;
}

#copyright {
  font-size: 16px;
}

.listings {
  list-style: none;
}
.title {
  border: solid rgb(167, 1, 201);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.dombackground {
  min-height: 100vh;
  min-width: 100%;
  background-color: black;
  background-image: url(domimage/OGDommed.gif);
  background-repeat: repeat;
  color: #fff;
  padding: 0 8%;
}

.domcenter {
  display: block;
  margin-left: auto;
  margin-right: 35%;
  width: 50%;
}
